.header {
  background: #4c77a4;
  padding: 12px 30px 12px 80px;
}
.header .title {
  display: inline-block;
  font-size: 1.34em;
  font-weight: bold;
  color: #ecedef;
  margin-left: calc((100vw - 925px) / 2);
}
.header .find {
  display: inline-block;
  margin: 0 0 0 12px;
}
.header .find input {
  width: 280px;
  height: 30px;
  border-radius: 20px;
  text-indent: 12px;
  font-size: 0.9em;
  border: none;
}
.header .find input:focus {
  outline: none;
}
.header .find #search-icon {
  position: relative;
  margin: 10px 0 0 -30px;
  color: #8296a4;
}
.header .badge {
  display: inline-block;
  position: relative;
  margin: 0 12px;
  cursor: pointer;
}
.header .badge[data-badge]::after,
.header content:attr(data-badge) {
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 0.7em;
  background: #f00;
  color: #ecedef;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  border: solid 2px #4c77a4;
}
