mainBackground = #4C77A4
lightBackgroud = #F5F8FA
mainTextColor = #8296A4
bodyColor = #ECEDEF

.header
  background mainBackground
  padding 12px 30px 12px 80px

  .title 
    display inline-block
    font-size 1.34em
    font-weight bold
    color bodyColor

  .find 
    display inline-block
    margin 0 0 0 12px

    input 
      size 180px
      height 35px
      border-radius 20px
      text-indent 12px
      font-size 0.9em
      border none

      &:focus 
        outline none

  #search-icon 
    position relative
    margin 10px 0 0 -30px
    color mainTextColor

  .message-badge 
    display inline-block
    position relative
    margin 0 12px 0 100px

  .notify-badge 
    display inline-block
    position relative
    margin 0 12px

  .profile-badge 
    display inline-block
    position relative
    margin 0 12px

  .message-badge[data-badge]::after,
  .notify-badge[data-badge]::after 
    content:attr(data-badge)
    position absolute
    top -9px
    right -9px
    font-size .7em
    background red
    color bodyColor
    width 16px
    height 16px
    text-align center
    line-height 16px
    border-radius 50%
    border solid 2px mainBackground

