.left-menu {
  float: left;
  width: 220px;
  height: 100vh;
  color: #8296a4;
  background-color: #f5f8fa;
}
.left-menu ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
}
.left-menu ul li {
  height: 28px;
}
.left-menu i {
  margin: 2px 8px 2px 2px;
  width: 20px;
}
