
.login 
    margin auto
    padding 20px
    margin-right -50%
    height 80vh

    input 
        display block
        border-radius 4px 
        border 1px solid #E4E4E4
        width 180px
        height 28px
        margin 6px
        padding 2px 0 2px 8px
    
    button
        display block
        border-radius 4px
        color #EBECEF
        background #4D76A3
        border none
        width 190px
        height 34px
        margin 6px
        cursor pointer

        &:active
            background #3C6592
        &:hover
            background #537ba8
    
    &Error
        font-size 0.8em
        margin 10px
        color rgba(255, 0, 0, 0.6)




