.middle {
  display: inline-block;
  float: left;
  background-color: #f5f8fa;
  padding: 20px 5px 20px 10px;
}
.middle img {
  height: 200px;
}
.middle .sendButton {
  width: 180px;
  height: 34px;
  background: #4c77a4;
  margin: 10px;
  display: block;
  border-radius: 4px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
}
.middle .people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 8px;
}
.middle .people .person img {
  height: 50px;
  margin: 8px;
}
.middle .people .person .name {
  color: #4c77a4;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  margin: 0 0 8px 0;
}
