body {
  color: #ecedef;
  background-color: #f5f8fa;
}
a {
  text-decoration: none;
}
.app {
  margin: auto;
  width: 925px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.header {
  background: #4c77a4;
  padding: 12px 30px 12px 80px;
}
.header .title {
  display: inline-block;
  font-size: 1.34em;
  font-weight: bold;
  color: #ecedef;
}
.header .find {
  display: inline-block;
  margin: 0 0 0 12px;
}
.header .find input {
  size: 180px;
  height: 35px;
  border-radius: 20px;
  text-indent: 12px;
  font-size: 0.9em;
  border: none;
}
.header .find input:focus {
  outline: none;
}
.header #search-icon {
  position: relative;
  margin: 10px 0 0 -30px;
  color: #8296a4;
}
.header .message-badge {
  display: inline-block;
  position: relative;
  margin: 0 12px 0 100px;
}
.header .notify-badge {
  display: inline-block;
  position: relative;
  margin: 0 12px;
}
.header .profile-badge {
  display: inline-block;
  position: relative;
  margin: 0 12px;
}
.header .message-badge[data-badge]::after,
.header .notify-badge[data-badge]::after {
  content: attr(data-badge);
  position: absolute;
  top: -9px;
  right: -9px;
  font-size: 0.7em;
  background: #f00;
  color: #ecedef;
  width: 16px;
  height: 16px;
  text-align: center;
  line-height: 16px;
  border-radius: 50%;
  border: solid 2px #4c77a4;
}
.content {
  display: inline-block;
  background: #fff;
}
.left-menu {
  float: left;
  width: 220px;
  height: 100vh;
  color: #8296a4;
  background-color: #f5f8fa;
}
.left-menu ul {
  list-style-type: none;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-top: 0;
}
.left-menu ul li {
  height: 28px;
}
.left-menu i {
  margin: 2px 8px 2px 2px;
  width: 20px;
}
.middle {
  display: inline-block;
  float: left;
  background-color: #f5f8fa;
  width: 220px;
  height: 100vh;
  padding: 20px 5px 20px 10px;
}
.middle img {
  height: 200px;
}
.middle .sendButton {
  width: 180px;
  height: 34px;
  background: #4c77a4;
  margin: 10px;
  display: block;
  border-radius: 4px;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  line-height: 32px;
}
.middle .people {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-left: 8px;
}
.middle .people .person img {
  height: 50px;
  margin: 8px;
}
.middle .people .person .name {
  color: #4c77a4;
  font-size: 0.8em;
  text-align: center;
  font-weight: bold;
  margin: 0 0 8px 0;
}
.profile {
  background: #fff;
  display: inline-block;
  float: right;
  width: 446px;
  margin: 0 12px;
}
.profileUser__name {
  color: #4c77a4;
  margin: 10px;
  font-weight: bold;
}
.profileUser__status {
  color: #8296a4;
  position: relative;
  float: right;
  font-size: 0.9em;
  margin: 10px 8px 0 0;
}
.profileUser__quote {
  color: #000;
  margin: 10px;
  font-size: 0.9em;
}
.profileUser__info {
  display: flex;
  flex-wrap: wrap;
}
.profileUser__info .infoTag {
  font-size: 0.9em;
  color: #8296a4;
  margin: 7px 0 7px 14px;
  flex: 50% 0;
}
.profileUser__info .infoData {
  font-size: 0.86em;
  font-weight: bold;
  color: #4c77a4;
  margin-top: 8px;
}
.photos {
  background: #fff;
  padding: 12px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
}
.photos img {
  display: block;
  max-width: 230px;
  max-height: 95px;
  width: auto;
  height: auto;
  margin: 4px;
}
.wall {
  height: 40vh;
}
.line {
  border: 1px solid rgba(0,0,0,0.1);
  margin: 5px 10px 5px;
}
.info {
  margin: 20px 10px 20px 10px;
  font-size: 0.82em;
  text-align: center;
  font-weight: bold;
  color: #8296a4;
}
.status {
  margin: 10px;
  font-size: 0.8em;
  text-align: left;
  font-weight: bold;
  color: #4c77a4;
}
