.rightPart
  margin-left 410px

.profile
  background white
  display inline-block
  float right 
  width 446px
  margin 0 12px
  &User
    &__name
      color mainBackground
      margin 10px
      font-weight bold
    &__status
      color mainTextColor
      position relative
      float right
      font-size 0.9em
      margin 10px 8px 0 0
    &__quote
      color black
      margin 10px
      font-size 0.9em
    &__info
      display flex
      flex-wrap wrap
      .infoTag
        font-size 0.9em
        color mainTextColor
        margin 7px 0 7px 14px
        flex 50% 0
      .infoData
        font-size 0.86em
        font-weight bold
        color mainBackground
        margin-top 8px

.photos
  background white
  padding 12px
  display flex
  flex-wrap wrap
  justify-content space-around
  align-content flex-start

  img
    display block
    max-width 230px
    max-height 95px
    width auto
    height auto
    margin 4px

.wall
  height 40vh

.wallPosts
  display block

.wallPost
  color black
  padding 10px 5px 12px 50px
  border-bottom 1px solid gray

  &__photo
    float left 
    margin 0 10px 10px 5px

  &__name
    color mainBackground
    font-size 0.9em
    font-weight bold
    position relative

  &__content
    margin 4px 4px 4px 68px
    background-color lightBackground

